mixin Team({imgSrc, name, designation, description})
  .col-12.col-md-6.col-lg-4.px-3.text-center.mb-5.mb-lg-0
    .position-relative.w-75.w-md-100.mx-auto.mb-2
      img(src=`${CWD}${imgSrc}`, alt="").w-100.team-hero-image
      .social-icons
        a(href="#!") 
          span.uil.uil-facebook
        a(href="#!") 
          span.uil.uil-instagram-alt
        a(href="#!") 
          span.uil.uil-linkedin

    h3.fs-9.fs-md-8.text-success.fw-bold.mb-1= name
    h5.text-black.fs-10.fs-md-9.fw-medium.text-capitalize.mb-3= designation
    p.fs-10.fs-md-9.fs-xxl-8.text-primary.lh-xl.mb-0.line-clamp-2= description 
        


mixin AboutUs

  - 
    var ourTeam = [
      {
        imgSrc: "assets/img/team/team/6.png", 
        name: "James T. Kirk", 
        designation: "CFO", 
        description: "We're trying to teach you a technique here and how to use it."
      },
      {
        imgSrc: "assets/img/team/team/5.png", 
        name: "Montgomery Scott", 
        designation: "Accounts", 
        description: "Just make a decision and let it go."
      },
      {
        imgSrc: "assets/img/team/team/4.png", 
        name: "Nyota Uhura", 
        designation: "Marketing", 
        description: "We'll throw some old gray clouds in here just sneaking around..."
      },
      {
        imgSrc: "assets/img/team/team/3.png", 
        name: "Hikaru Sulu", 
        designation: "CFO", 
        description: "Everything's not great in life, but we can still find beauty in it."
      },
      {
        imgSrc: "assets/img/team/team/2.png", 
        name: "Pavel Chekov", 
        designation: "CTO", 
        description: "That is when you can experience true joy, when you have no fear."
      },
      {
        imgSrc: "assets/img/team/team/1.png", 
        name: "Leonard McCoy", 
        designation: "Human resource", 
        description: "Let's make a nice big leafy tree."
      }
    ]

  section#about.mb-9.mb-lg-10.mb-xxl-11.text-center.text-lg-start
    h4.mb-x1.fs-8.fs-md-7.fs-xxl-6.text-success.fw-bold.pt-6.text-capitalize About us 
    h1.fs-5.fs-lg-3.fs-xl-2.text-secondary.text-capitalize.fw-light.mb-x1
      | our     
      span.fw-bold Core 
      | team
      br
      | and their 
      span.fw-bold philosophy
    .row.mb-7.mb-lg-8.mb-xl-9.gap-3
      .col-12.col-lg 
        p.text-black.fs-10.fs-md-9.fs-xxl-8.lh-xl.mb-0.line-clamp-5    In Aranyak, we have a great team to help you manage and maintain all your healthy plants simultaneously. We help you to change your outlook on life with our huge collection of greenery. Refer to our collection of plants for indoor and outdoor vegetation and beautification.
      .col-12.col-lg 
        p.text-black.fs-10.fs-md-9.fs-xxl-8.lh-xl.mb-0.line-clamp-5    Our wide variety of plants can help you get stimulated to creative works and help you maintain your mental health while also uplifting your way of life. Aranyak avails an efficient team of designers to help you plan your indoor and outdoor beautification works in no time. Enjoy your journey with Aranyak!
    .d-flex.flex-column.flex-lg-row.justify-content-center.align-items-center.mb-8.mb-lg-10 
      img(src=`${CWD}assets/img/team/badhon.png`, alt="").img-fluid.badhon
      .about-card
        h1.fs-8.fs-md-7.fs-xxl-6.text-success.fw-bold Meet Badhon
        p.fs-10.fs-md-9.fs-xxl-8.text-primary.mb-0.line-clamp-5
          | Dhruba Badhon lives in Dhaka with her husband, 
          | Raihan Nil, their daughter, Shimul and two cats, 
          | Pantha and Sanji. She began her professional carrier 
          | at a scam house named Hexit.  At the summer of 2069, 
          | she created a ...
    div
      p.text-secondary.text-capitalize.fw-light.mb-0.fs-5.fs-lg-4.text-center.mb-7.mb-lg-8 
        | meet the 
        span.fw-bold team
      .row.mb-13.w-lg-75.mb-lg-5.mx-auto.gy-2.gy-lg-5.h-100
        each team in ourTeam
            +Team(team)



