mixin Navbar 
  - 
    var submenu = [
        { 
        label: 'sale', 
        imageSrc: 'assets/img/icons/ps_sale-tag.png',
        className: 'uil uil-bill' 
        },
        { 
        label: 'wishlist', 
        imageSrc: 'assets/img/icons/Vector.png',
        className: 'uil uil-file-heart' 
        },
        { 
        label: 'cart', 
        imageSrc: 'assets/img/icons/cil_cart.png',
        className: 'uil uil-shopping-cart' 
        },
        { 
        label: 'log in/sign up', 
        imageSrc: 'assets/img/icons/codicon_account.png',
        className: 'uil uil-user-circle' 
        }
    ]

  - 
    var menu = [
      { 
        label: 'home', 
        link: '#home' 
      },
      { 
        label: 'about', 
        link: '#about' 
      },
      { 
        label: 'catalog', 
        link: '#products' 
      },
      { 
        label: 'reviews', 
        link: '#review' 
      }, 
      { 
        label: "support", 
        link: "#support" 
      }
    ]


  .bg-white.p-1.p-lg-2
    .container
      .d-flex.justify-content-end.align-items-center
        each item in submenu
            a(href="#!").ms-2.ms-md-3.submenu
              span(class=`${item.className}`)
              span.ms-1.fs-10.fs-sm-9 #{item.label}
  nav#navbar-top.navbar.navbar-expand-lg.py-1(data-navbar-soft-on-scroll)
    .container
      a(href=`${CWD}`).navbar-brand.me-lg-auto.cursor-pointer
        img(src=`${CWD}assets/img/logos/logo.png`, alt="").w-50.w-md-100.img-fluid
  
      button(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler.border-0.pe-0
        span.navbar-toggler-icon
      div#navbarSupportedContent.collapse.navbar-collapse(data-navbar-collapse)
        .container.d-lg-flex.justify-content-lg-end.pe-lg-0.w-lg-100
          form.form-inline.position-relative.w-lg-50.ms-lg-4.ms-xl-9.mt-3.mt-lg-0(onsubmit="return false;")
            input(type="search", name="search" placeholder="search plants...").search.fs-8.bg-transparent.form-control
            .search-icon 
                span.uil.uil-search
          ul.navbar-nav.mt-2.mt-lg-1.ms-lg-4.ms-xl-8.ms-2xl-9.gap-lg-x1(data-navbar-nav) 
            each navMenu in menu 
                li.nav-item 
                    a(href=`${navMenu.link}` title=`${navMenu.label}`).nav-link.nav-bar-item.px-0 #{navMenu.label}